@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background: #121212;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fff;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    overflow: hidden;
    color: #fff;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoBG {
    width: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 1rem;
}

.wrapper {
    background-color: #12121280;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: #121212 0px 18px 50px -10px;
    backdrop-filter: blur(15px);
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.track-art {
    margin: 25px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0px 18px 20px -10px;
}

.now-playing {
    color: rgba(255, 255, 255, 0.7);
}

.track-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.track-artist {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 7px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.active {
    color: #000;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    font-size: 1.3rem;
    padding: 25px;
    opacity: 0.5;
    transform: opacity 0.2s;
}

.playpause-track {
    font-size: 2.5rem;
    opacity: 1;
}

.repeat-track:hover,
.random-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container:nth-child(2) {
    margin-top: 2rem;
}

.seek_slider,
.volume_slider {
    appearance: none;
    height: 4px;
    background: #6c6c6c;
    transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    cursor: pointer;
    border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
    background: #1db954;
    opacity: 1;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    font-size: 0.8rem;
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}

.randomActive {
    color: #000;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.loader {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke {
    background: #85e2a6;
    height: 100%;
    width: 7px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
        background: #1db954;
    }

    100% {
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .track-art {
        width: 125px;
        height: 125px;
    }

    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 80%;
    }

    .track-art {
        width: 100px;
        height: 100px;
    }

    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
        padding: 15px;
    }
}
